body {
  background-color: grey;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  font-weight: bolder;
}
p#subtitle {
  font-size: 20px;
}
h1 {
  font-size: 60px;
}
p.block {
  font-style: normal;
}
img {
  display: block;
  margin: 15px 0px;
  cursor: pointer;
}
p a {
  color: rgb(35, 4, 79);
  text-decoration: none;
}
p a:hover {
  color: rgb(35, 4, 79);
}
p {
  font-style: italic !important;
}
.video {
  width: 100%;
}
